.header{
    background-image:url('./shamblen-studios-61rFb1qnu1k-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100px;
    font-family: 'Arial', sans-serif ;
    font-weight: 400;
    font-style: normal;
      
}

.header p{
    font-size: 24px;
    color:#3B2A19;
    text-align: center;
}

.button{
    text-align: right;
}

.button Link{
    background: none;
    border: none;
    color: #3B2A19;
    text-decoration: underline;
    text-align: right;
    cursor: pointer;
}
